* {
    margin: 0px;
    padding: 0 px;
    box-sizing: border-box;
}

body {
    background-color: #f8f9fa;
    padding-top: 80px;
}

nav {
    padding: 15px 40px;
    position: fixed;
    top: 30px;
    right: 0; 
    z-index: 1000;
    background-color: #f8f9fa; 
    box-shadow: none;  
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-left: 30px;  
}

nav ul li a {
    color: #000000;  
    text-decoration: none;
    font-weight: bold;
    padding: 8px 15px;  
    border-radius: 4px;
    font-size: 25px; 
    transition: color 0.3s ease, text-decoration 0.3s ease;  
}

nav ul li a:hover {
    color: #4caf50;  
    text-decoration: underline;  
}

.heading {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 60px auto 20px auto;
}

.heading h1 {
    margin-top: 10px; 
    text-align: center;
    font-size: 60px; 
    color: #4caf50;
}

.heading p {
    font-size: 18px;
    color: #000;
    margin-bottom: 10px;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
    padding-top: 10px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-image {
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.about-image img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.8s ease;
}

.about-image:hover img {
    transform: scale(1.2);
}

.about-content {
    flex: 1;
}

.about-content p {
    font-size: 18px;
    line-height: 1.5;
    color: #000;
    margin-bottom: 15px;
}

.team-section {
    width: 100%;
}

.team-section .team-container {
    width: 80%;
    margin: auto;
}

.team-section .team-container .row{
    width: 60%;
    margin: auto;
}

.team-section .team-container .row .title{
    text-align: center;
    margin-top: 50px;
}

.team-section .team-container .row .title h1{
    font-size: 35px;
    letter-spacing: 1.5px;
    color: #4caf50;
}

.team-section .team-container .row .title p{
    font-size: 18px;
    margin: 30px 0px;
    color: #000;
}

.team-section .team-container .team-card {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin-top: 50px;
}

.team-section .team-container .team-card .card{
    width: 100%;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    cursor: pointer;
}

.team-section .team-container .team-card .card:hover{
    background-color: #f3f3f3;
    transition: 0.3s;
}

.team-section .team-container .team-card .card .image-section img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 3px solid #666;
}

.team-section .team-container .team-card .card .content{
    width: 100%;
    text-align: center;
}

.team-section .team-container .team-card .card .content h3{
    font-size: 27px;
    margin-top: 10px;
    letter-spacing: 1.5px;
    color: #4caf50;
}

.team-section .team-container .team-card .card .content h4{
    font-size: 17px;
    margin-top: 10px;
    letter-spacing: 1.5px;
    color: #000;
}

.team-section .team-container .team-card .card .content p{
    font-size: 15px;
    margin-top: 13px;
    line-height: 1.5;
    color: #000;
}

form {
    text-align: center;
}

footer {
    margin-top: 150px;
    text-align: center;
    color:#333;
    margin-bottom: 18px;
}