body {
    margin: 0;
    background-color: #f8f9fa;
    padding-top: 80px;
    box-sizing: border-box;
}

nav {
    padding: 15px 40px;
    position: fixed;
    top: 30px;
    right: 0; 
    z-index: 1000;
    background-color: #f8f9fa; 
    box-shadow: none;  
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-left: 30px;  
}

nav ul li a {
    color: #000000;  
    text-decoration: none;
    font-weight: bold;
    padding: 8px 15px;  
    border-radius: 4px;
    font-size: 25px; 
    transition: color 0.3s ease, text-decoration 0.3s ease;  
}

nav ul li a:hover {
    color: #4caf50;  
    text-decoration: underline;  
}

h2 {
    margin-left: 30px;  
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 60px; 
    color: #4caf50;
}

.animal-section {
    margin-bottom: 70px;
}

.animal-section h3 {
    text-align: left;
    font-size: 32px;
    color: #4caf50;
    margin-bottom: 15px;
    margin-top: 0; 
    display: block; 
    width: 100%;
    position: relative; 
    margin-left: 45px;
}

.animal-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.animal-card {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    text-align: center;
}

.animal-card h4 {
    margin: 10px 0;
    font-size: 30px;
}

.animal-card p {
    margin: 5px 0;
}

.apply-button {
    color: #4caf50;
}

.no-animals {
    text-align: center;
    font-size: 30px;
    color: #666;
    margin-bottom: 15px;
}

footer {
    margin-top: 150px;
    text-align: center;
    color: #333;
    margin-bottom: 18px;
}
