body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding-top: 80px;
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    flex-wrap: wrap;
    background-color: #f8f9fa;
}

.heading {
    padding: 20px;
    flex: 1 1 50%;
}

.heading h2 {
    text-align: center;
    color: #000;
    font-size: 50px;
    margin-bottom: 25px;
    position: relative;
}

.heading h2::after {
    content: "";
    width: 65%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #4caf50;
    position: relative;
    margin-bottom: 40px;
}

.heading p {
    text-align: left;
    margin-left: 30px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    line-height: 1.8;
    margin-top: 100px;
}

form {
    max-width: 600px;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 40%;
    margin-top: 60px;
    margin-right: 35px;
}

form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
}

form textarea {
    height: 100px;
    resize: none;
}

form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button[type="submit"]:hover {
    background-color: #45a049;
}

footer {
    margin-top: 150px;
    text-align: center;
    margin-bottom: 18px;
}